/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESETING CSS */


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 100px 1fr 600px 1fr 50px;
    background-color: #121212;
}
header {
    grid-area: 1 / 1 / span 1 / -1;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
footer {
    grid-area: 5 / 1 / span 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
header, footer {
    background-color: #252525;
    color: rgb(181, 190, 197);
}
h1 {
    font-size: 3rem;
}
.gameContainer {
    position: relative;
    grid-area: 3 / 2 / span 1 / span 1;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    padding: 50px;
}
.gameContainer > div {
    font-size: 32px;
    color: rgb(155, 155, 160);
    background-color: #252525;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameContainer > div:hover {
    background-color: #3b3b3b;
}
.winnerField {
    border: 2px solid #6e496e;
}
#draw {
    position: absolute;
    top: 25px;
    height: 100px;
    translate: -100px;
    width: 800px;
    background-color: rgba(114, 114, 114, 0.5);
    color: black;
    font-size: 5rem;
    font-weight: bold;
    transform: 0.2s;
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
#restart {    
    background-color: #121212;
    bottom: 50px;
    translate: -50px;
    position: absolute;
    height: 40px;
    width: 40px;
}
#restartButton {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    padding: 0;
}
#restartButton:hover {
    transform: scale(1.1);
    transform: 0.1s;
}